$primary: #d33a2c;
*{

}
ul{
    padding:0px;
    margin:0px;
    list-style:none;
}
body{
    padding:0px;
    margin:0px;
    
}
header{
    background: $primary;
    min-height: 6.2375rem;
    padding: 1em 0px;
    *{
        
        text-decoration: none;
    }
    .navbar{
        display:flex;
        justify-content: space-between;
        align-items: center;

        .navbar-left{
            padding:30px 60px;
            .navbar-logo{
                img{
                    height:83px;
                }
            }
        }
        .navbar-center{
            flex:1;
            .navbar-center-elements{
                display: flex;
                justify-content: space-between;
                align-items: center;
                
                .navbar-elements{
                    text-align:center;
                    a{
                        color:#fff;
                        img{
                            height: 35px;
                            transform: rotate(-15deg);
                            transition: all 0.25s ease;
                            margin-bottom:6px;
                        }
                    }                    
                        .title{
                            font-size:35px;
                            font-weight: 700;
                            margin:0px;
                        }
                        p{
                            font-size:15px;
                            font-style:italic;
                            margin-top:15px;
                        }
                    
                }
                .navbar-elements:hover{
                    a{
                        color:#000;
                    }
                    img{
                        transform: rotate(0deg);
                    }
                }
            }
        }
        .navbar-right{
            padding:30px 60px;
            .topics{
                background: $primary;
                border:3px solid #fff;
                border-radius:8px;
                font-size:23px;
                height:56px;
                font-weight: 700;
                display:block;
                padding:0px 15px;
                color:#fff;
                display:flex;
                justify-content: space-between;
                align-items: center;
                width:90px;
                .icon{
                    fill:#fff;
                    height:19px;
                }
            }
        }
    }
}

.last-articles{
    position: relative;
    height: 100vh;
    cursor: pointer;
    .sec-title{
        margin-top:0px;
        position: absolute;
        top:0px;
        left: 0px;
        right:0px;
        display: flex;
        justify-content: center;
        h2{
            
            text-align: center;
            font-size:2rem;
            span{
                background:#fff;
                padding:.3em .4em;
                line-height: 1.5em;;
            }
        }
    }
    .sec-content{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        .elmt{
            background:$primary;
            width: 50%;
            box-sizing: border-box;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10em 5vw 7em;
            color: #fff;
            
            .art-author{
                display: flex;
                align-items: flex-start;
                justify-content: center;                
                img{
                    height: 76px;
                    width: 76px;
                    transform: rotate(-15deg);
                    transition: all 0.25s ease;
                    margin-bottom:6px;
                    border: 5px solid #fff;
                    border-radius: 13px;
                }
                img:hover{
                    transform: rotate(0deg);
                }
                .art-auth-info{
                    margin-top:10px;
                    margin-left: 25px;
                    color: #fff;
                    a{
                        text-decoration: none;
                        color: #fff;
                    }
                    .author-name{
                        font-size: 25px;
                        font-weight: 700;
                    }
                }
            }
            .art-title{
                font-size: 50px;
                font-weight: 800;
            }
            .art-content .comments{
                display: block;
                img{
                    height: 25px;
                    width: 25px;
                    .icon{
                        border: 5px solid #fff;
                    }
                }
            }
        }
        .elmt:nth-child(1){
            background-color: #bc3428;
        }
        .elmt:nth-child(2){
            background-color: #c7372a;
        }
        .elmt:nth-child(3){
            background-color: #b13125;
        }
        .elmt:nth-child(4){
            background-color: #bc3428;
        }
    }
}