$primary: #999;
$fullhd: 1920px;
$widescreen: 1440px;
$desktop: 1440px;
$tablet: 1024px;
$mobile: 640px;
@mixin mobile {
  @media (max-width: #{$mobile})  {
    @content;
  }
}
@mixin tablet {
    @media (max-width: #{$tablet})  {
      @content;
    }
  }
@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}
@mixin widescreen {
    @media (min-width: #{$widescreen}) {
      @content;
    }
  }
@mixin fullhd {
    @media (min-width: #{$fullhd}) {
      @content;
    }
  }
*{
    max-width:100%;
}
ul{
    padding:0px;
    margin:0px;
    list-style:none;
}
body{
    padding:0px;
    margin:0px;
    font-family: 'Libre Franklin', sans-serif;

}
header{
    background: $primary;
    min-height: 6.2375rem;
    padding: 1em 0px;
    *{
        
        text-decoration: none;
    }
    .navbar{
        display:flex;
        justify-content: space-between;
        align-items: center;

        .navbar-left{
            padding:30px 60px;
            .navbar-logo{
                img{
                    height:83px;
                }
            }
        }
        .navbar-center{
            flex:1;
            .navbar-center-elements{
                display: flex;
                justify-content: space-between;
                align-items: center;
                
                .navbar-elements{
                    text-align:center;
                    a{
                        color:#fff;
                        img{
                            height: 35px;
                            transform: rotate(-15deg);
                            transition: all 0.25s ease;
                            margin-bottom:6px;
                        }
                    }                    
                        .title{
                            font-size:35px;
                            font-weight: 700;
                            margin:0px;
                        }
                        p{
                            font-size:15px;
                            font-style:italic;
                            margin-top:15px;
                        }
                    
                }
                .navbar-elements:hover{
                    a{
                        color:#000;
                    }
                    img{
                        transform: rotate(0deg);
                    }
                }
            }
        }
        .navbar-right{
            padding:30px 60px;
            .topics{
                background: $primary;
                border:3px solid #fff;
                border-radius:8px;
                font-size:23px;
                height:56px;
                font-weight: 700;
                display:block;
                padding:0px 15px;
                color:#fff;
                display:flex;
                justify-content: space-between;
                align-items: center;
                width:90px;
                .icon{
                    fill:#fff;
                    height:19px;
                }
            }
        }
    }
}

main{
    .featured-posts{
        
        position: relative;
        cursor: pointer;
        .sec-title{
            margin-top:0px;
            position: absolute;
            top:0px;
            left: 0px;
            right:0px;
            display: flex;
            justify-content: center;
            h2{
                
                text-align: center;
                font-size:2rem;
                span{
                    background:#fff;
                    padding:.3em .4em;
                    line-height: 1.5em;;
                }
            }
        }
        .sec-content{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            position:relative;
            .article{
                background:$primary;
                width: 50%;
                box-sizing: border-box;
                height: 100vh;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 10em 5vw 7em;
                color: #fff;
                .art-content{
                    width:90%;
                    min-height: 90%;
                    position:relative;
                    .art-author{
                        display: flex;
                        align-items: flex-start;
                        justify-content: flex-start;                
                        img{
                            height: 76px;
                            width: 76px;
                            transform: rotate(-15deg);
                            transition: all 0.25s ease;
                            margin-bottom:6px;
                            border: 5px solid #fff;
                            border-radius: 13px;
                        }
                        img:hover{
                            transform: rotate(0deg);
                        }
                        .art-auth-info{
                            margin-top:10px;
                            margin-left: 25px;
                            color: #fff;
                            a{
                                text-decoration: none;
                                color: #fff;
                            }
                            .author-name{
                                font-size: 25px;
                                font-weight: 700;
                            }
                        }
                    }
                    .art-title{
                        font-size: 2.5rem;
                        font-weight: 800;
                        margin:15px 0px;
                    }
                     .comments{
                        display:flex;
                        justify-content: flex-start;
                        align-items: center;
                        text-decoration:none;
                        color:#fff;
                        font-weight:900;
                        font-size:12px;
                        .icon{
                            display:inline-block;
                            width: 20px;
                            margin-right:10px;
                        }
                    }
                    .art-performance{
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        margin-top:15px;
                        .art-perf-lk{
                            color:#fff;
                            text-decoration:none;
                            margin-right:40px;
                            font-weight:bold;
                            position: relative;
                            span:first-child{
                                color:#000;
                                margin-right:5px;
                            }
                            span:last-child{
                                position: absolute;
                                left:100%;
                                top:0px;
                                width:40px;
                                padding-left:5px;
                                
                                font-size:10px;
                            }
                        }
                    }
                }
            }
            .article:nth-child(1){
                background-color: #bc3428;
            }
            .article:nth-child(2){
                background-color: #c7372a;
            }
            .article:nth-child(3){
                background-color: #b13125;
                height: 65vh;
            }
            .article:nth-child(4){
                background-color: #bc3428;
                height: 65vh;
            }
            
        }
    }
    .latest-posts{
        display:flex;
        flex-wrap:wrap;
        padding-top:2rem;

        .post{
            @include widescreen{
                width:33.33333%;
                height: 70vh;
                padding: 0 1em;
                padding-bottom:150px;
            }
        }
    }
}

